<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Bookstore - книжный магазин</a>
        <div class="pull-right container">
            @Html.ActionLink("Регистрация", "Register", "Account")&frasl;
            @Html.ActionLink("Авторизация", "Login", "Account")
        </div>
    </div>
    <div class="row panel">
        <div id="genres" class="col-xs-3">
            Здесь  будет добавлен контент позже
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/ScrollingPaget.js"></script>
</body>
</html>